<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.thirtyonetensoftware.android.powergridengineer"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PowerGridEngineer">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PreferencesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="19e5fcd8713a86b78a0b66ab335a436ce59b52ce" />
    </application>
</manifest>
